[submodule "src/modules/livegame"]
	path = src/modules/livegame
	url = git@bitbucket.org:ksdevs/elearning-live-game.git
[submodule "src/modules/firebase"]
	path = src/modules/firebase
	url = git@bitbucket.org:ksdevs/elearning-firebase.git
[submodule "src/modules/common"]
	path = src/modules/common
	url = git@bitbucket.org:ksdevs/elearning-common.git
[submodule "src/modules/share"]
	path = src/modules/share
	url = git@bitbucket.org:ksdevs/elearning-model.git
