@import './responsive.scss';

.fb-page-plugin {
  width: fit-content;
  position: fixed;
  z-index: 7;
  right: 40px;
  bottom: 40px;
  @include responsive(sm) {
    right: 20px;
    bottom: 20px;
  }
  .fb-main-popup {
    display: none;
    &.open {
      display: initial;
    }
    .fb-header {
      border: 1px solid #fff;
      border-bottom: none;
      background-color: #428bff;
      display: flex;
      flex-direction: row-reverse;
      .fb-popup-close-button {
        display: flex;
        width: 24px;
        height: 24px;
        margin: 5px 10px;
        align-items: center;
        cursor: pointer;
        img {
          max-width: 100%;
          &:hover {
            filter: brightness(2);
          }
        }
      }
    }
  }

  .fb-page-plugin-button {
    .fb-button-wrap {
      float: right;
      width: 90px;
      height: 90px;
      @include responsive(sm) {
        width: 69px;
        height: 69px;
      }
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
      }
    }
    img {
      max-width: 100%;
      filter: drop-shadow(5px 5px 5px #666666);
    }
  }
}
